

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your Order Number is: <br /><br />
        <img src="" width="65" />
    </div>
    <div class="col-12 text-center" style="color:maroon;">
        <br />
        Your oredr has been Placed Succesfully!
    </div>
</div>